.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 554px;
}

.message__left {
    display: flex;
    flex-direction: column;
    width: 353px;

}

.message__description {
    margin-top: 24px;
    margin-bottom: 40px;
}