.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 738px;
}

.products__title {
    margin-top: 72px;
    margin-bottom: 64px;
}

.products__cards {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    /* height: 534px; */
}

.products__card {
    width: 200px;
    height: 247px;
    border-radius: 12px;
    margin: 20px 20px 20px 20px;
    padding: 20px;

    box-shadow: 0 4px 24px 0 #301D1E1A;
}

.products__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-top: -10px;
}

.products__icon {
    display: block;
    margin-left: auto;
}